<ion-header >
  <ion-navbar color="primary">
    <div style="float:left">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </div>

    <div style="float:right">
        <button ion-button icon-right (click) = "addCurrency()">
            <ion-icon name="add"></ion-icon>
          </button>
    </div>

    <div>
        <ion-title text-center>Currency List</ion-title>
    </div>

    <!-- Float the icon right -->

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list  *ngFor = "let obj of currencyList; let i = index;" >
    <ion-item-sliding *ngIf = "obj.isfavor" >
      <ion-item (click)="selectCurrency(i)">
        <ion-avatar item-start>
          <img src="../assets/imgs/{{obj.currency.imgUrl}}">
        </ion-avatar>
        <h2>{{obj.currency.code}} - {{obj.currency.name}}  <div style="float:right">{{selectedCurrency.currency.code}} to {{obj.currency.code}} = 1:{{obj.rate}}</div></h2>
      </ion-item>
        <ion-item-options slide="left">
          <button ion-button color="danger" (click)="deleteCurrency(i)">Delete</button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>




