<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title text-center>Currencies</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

	<ion-card>
		<ion-list inset>
			<ion-item>
				<ion-select item-start [(ngModel)]="selectedCurrency" (ionChange)="changeSelectedCurrency($event)">
					<ion-option *ngFor="let cur of allCurrencies" value="{{cur.code}}">{{cur.name}}</ion-option>
				</ion-select>	
				<ion-input item-end [(ngModel)]="amount" name="amount" type="number" value="{{amount}}"></ion-input>							
			</ion-item>
			<ion-item>
				<button ion-button (click)="showAll()">Show All</button>
				<button ion-button (click)="showFavorite()">Show Favorite</button>
				<button ion-button (click)="calculate()">Calculate</button>
			</ion-item>
		</ion-list>
	</ion-card>

	<div *ngFor="let cur of outputCurrencies" (click)="changeSelectedCurrency(cur.code)">
		<ion-card>
			<ion-list>
				<ion-item>
					<ion-label color="primary">{{ cur.name }}</ion-label>
					<div item-content>{{ cur.value | number:'1.2-2' }}</div>
				</ion-item>
			</ion-list>
		</ion-card>
	</div>
	

</ion-content>